/* reset du css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 100%;
  overflow-x: hidden;
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-color: #262262;
  
}

/* ==================================================== PARALLAX ==================*/

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-perspective: 1px;
          perspective: 1px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.parallax__layer--fond {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  height: 100%;
  z-index: -2;
}

.parallax__layer--fondEau {
  -webkit-transform: translateZ(-3px) scale(4.2);
          transform: translateZ(-3px) scale(4.2);
  height: 100%;
  z-index: -1;
}

.parallax__layer--ile {
  -webkit-transform: translateZ(-2px) scale(3);
          transform: translateZ(-2px) scale(3);
  height: 100%;
  z-index: 0;
}

.parallax__layer--deco {
  -webkit-transform: translateZ(-2px) scale(3);
          transform: translateZ(-2px) scale(3);
  height: 100%;
  z-index: 0;
}

.parallax__layer--eau3 {
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
  height: 100%;
  z-index: 1;
}

.parallax__layer--eau2 {
  -webkit-transform: translateZ(-0.5px) scale(1.8);
          transform: translateZ(-0.5px) scale(1.8);
  height: 100%;
  z-index: 2;
}

.parallax__layer--eau1 {
  -webkit-transform: translateZ(-0.2px) scale(1.5);
          transform: translateZ(-0.2px) scale(1.5);
  height: 100%;
  z-index: 3;
}

/* ==================================================== CONTENU ==================*/
.bleu {
	height: 1000px;
	width: 100%;
	background-color: #262262;
	margin-top: -10px;
}

.bleu p {
	text-align: center;
	margin-bottom: 50px;
	color: white;
	font-family: Fantasy;
}

.flex {
	position: relative;
	height: 400px;
	width: 400px;
	margin: 0 auto;
	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;

	    -ms-flex-wrap: wrap;

	        flex-wrap: wrap; 

	-webkit-box-pack: center; 

	    -ms-flex-pack: center; 

	        justify-content: center;

}

/* ==================================================== SVG ==================*/

.bulle {
	stroke:white;
	stroke-width:0.1;
	fill:none;
	margin-left: 30px;
}

.fond svg {
	enable-background:new 0 0 1024 768;
}
.fond svg rect {
	fill:url(#SVGID_1_);
}

.bulle {
  animation: anim 5s infinite;
}



 .eau2, .eau3, .fondEau {
  stroke:LightGoldenRodYellow ;
  stroke-width:1px;
  stroke-dasharray: -1000;
  stroke-dashoffset: 1000;
  animation: anime 5s infinite;
}

@keyframes anim {
    from {
      stroke-width:0.1px;
    }

    50% {
      stroke-width:1px;
    }

    to {
     stroke-width:0.1px;
  }
}

@keyframes anime {
    from {
      stroke-dasharray: 200;
    }

    50% {
      stroke-dasharray: 220;
    }

    to {
     stroke-dasharray: 200;
  }
}